<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="user-head">

    <ul style="margin-top: 20px;margin-bottom: 20px" class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a th:class="${userType=='account'?'nav-link active':'nav-link'}" href="/account">账号管理</a>
        </li>
        <li class="nav-item">
            <a th:class="${userType=='profile'?'nav-link active':'nav-link'}" href="/profile">用户管理</a>
        </li>
        <li class="nav-item">
            <a th:class="${userType=='collection'?'nav-link active':'nav-link'}" href="/collection">收藏管理</a>
        </li>
    </ul>
</th:block>
<th:block th:fragment="head">
    <meta name="description" content="在这读几首诗，采几片云"/>
    <meta name="author" content="长亭残木"/>
    <meta name="keywords" content="诗词平台,传统文化,诗词,古诗">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="applicable-device" content="pc,mobile">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/toastify.min.css}">
    <style>

        .testswitch {
            position: relative;
            float: left;
            width: 55px;
            margin: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }

        .testswitch-checkbox {
            display: none;
        }

        .testswitch-label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border-radius: 10px;
        }

        .testswitch-inner {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
        }

        .testswitch-inner::before, .testswitch-inner::after {
            display: block;
            float: right;
            width: 50%;
            height: 25px;
            padding: 0;
            line-height: 25px;
            font-size: 10px;
            color: white;
            font-family: Trebuchet, Arial, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
        }

        .testswitch-inner::after {
            content: attr(data-on);
            padding-left: 4px;
            background-color: #3b2e7e;
            color: #FFFFFF;
        }

        .testswitch-inner::before {
            content: attr(data-off);
            padding-right: 4px;
            background-color: #56c3fc;
            color: #ffffff;
            text-align: right;
        }

        .testswitch-switch {
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            margin: 2px;
            background: #FFFFFF;
            top: 0;
            bottom: 0;
            right: 30px;
            border: 1px solid #999999;
            border-radius: 10px;
            transition: all 0.3s ease-in 0s;
        }

        .testswitch-checkbox:checked + .testswitch-label .testswitch-inner {
            margin-left: 0;
        }

        .testswitch-checkbox:checked + .testswitch-label .testswitch-switch {
            right: 0px;
        }
    </style>
</th:block>
<th:block th:fragment="main_nav">
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img style="width: 45px;height: 45px;" th:src="@{/img/logo.png}"/>
                <span class="fs-4">云沾衣诗词网</span>
            </a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">导航</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">首页</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/index/poetry">诗词</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/index/author">作者</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/rhyme/check">格律检测</a>
                        </li>
                    </ul>
                    <div class="navbar">
                        <div class="input-group input-group-sm px-sm-5">
                            <div class="input-group-sm">
                                <select id="searchType" name="searchType"
                                        class="form-select form-select-sm">
                                    <option th:selected="${searchType=='poetry'? true : false}" value="poetry">诗词
                                    </option>
                                    <option th:selected="${searchType=='author'? true : false}" value="author">作者
                                    </option>
                                </select>
                            </div>
                            <input th:value="${keyword}" id="keyword" name="keyword" class="form-control" type="search"
                                   placeholder="搜索诗词/诗人">
                            <button id="searchBtn" type="button" class="btn btn-primary btn-sm">搜索</button>
                        </div>
                    </div>
                    <div th:if="${loginUser == null}" class="mx-xl-5">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" onclick="toLogin()">登录</a>
                            </li>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="toLogin()">注册</a>
                            </li>
                        </ul>
                    </div>

                    <div th:if="${loginUser != null}" class="mx-xl-5">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false" th:text="${loginUser.username}">
                                </a>
                                <ul class="dropdown-menu">
                                    <a target="_blank" class="dropdown-item" href="/account">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#B40000"
                                             class="bi bi-house" viewBox="0 0 16 16">
                                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                                        </svg>
                                        账号管理
                                    </a>
                                    <a target="_blank" class="dropdown-item" href="/profile">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#B40000"
                                             class="bi bi-person-vcard" viewBox="0 0 16 16">
                                            <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                                            <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
                                        </svg>
                                        个人信息
                                    </a>
                                    <a target="_blank" class="dropdown-item" href="/collection">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#B40000"
                                             class="bi bi-bookmark-star" viewBox="0 0 16 16">
                                            <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                        </svg>
                                        收藏管理
                                    </a>
                                    <a class="dropdown-item" id="showLogout">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#B40000"
                                             class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                            <path fill-rule="evenodd"
                                                  d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                        </svg>
                                        退出登录
                                    </a>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-check form-switch mode-switch pe-lg-1 ms-auto me-4" data-bs-toggle="mode">
                <div class="testswitch">
                    <input type="checkbox" class="testswitch-checkbox" id="darkmode-toggle">
                    <label class="testswitch-label" for="darkmode-toggle">
                        <span class="testswitch-inner" data-on="黑夜" data-off="白天"></span>
                        <span class="testswitch-switch"></span>
                    </label>
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>

    <!-- 模态框 -->
    <div class="modal fade" id="logoutModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h3 class="modal-title">退出登录</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- 模态框内容 -->
                <div class="modal-body">
                    确定要退出登录吗
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="logout">退出登录
                    </button>
                </div>

            </div>
        </div>
    </div>
    <script>
        (() => {
            'use strict'
            const storedTheme = localStorage.getItem('theme')
            const getPreferredTheme = () => {
                if (storedTheme) {
                    return storedTheme
                }
                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
            }

            const setTheme = function (theme) {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark')
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme)
                }
            }
            if (storedTheme === 'dark') {
                document.getElementById("darkmode-toggle").checked = true;
            }

            setTheme(getPreferredTheme())

            document.getElementById("darkmode-toggle").addEventListener("click", function (event) {
                const theme = event.target.checked ? 'dark' : 'light'
                localStorage.setItem('theme', theme)
                setTheme(theme)
            })
        })()

        function toLogin() {
            let url = "/login" + "?redirect=" + location.pathname + encodeURIComponent(location.search);
            window.location.href = url
        }
    </script>
</th:block>
</html>
