<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link th:insert="common::common-hand">
    <title>

    </title>
</head>
<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #ffffff">
        <el-aside width="200px" style="background-color: rgb(84,92,100)">
            <div th:insert="common::#aside">

            </div>

        </el-aside>

        <el-container>
            <el-header th:insert="common::#header">

            </el-header>

            <el-main>

                <div style="margin-top:16px;">

                    <el-breadcrumb separator-class="el-icon-arrow-right">
                        <el-breadcrumb-item><a href="/index">首页</a></el-breadcrumb-item>
                        <el-breadcrumb-item>修改个人密码</el-breadcrumb-item>
                    </el-breadcrumb>
                </div>

                <div style="margin-left: 10%;margin-top: 20px">

                    <el-col span="10">
                        <el-form :label-position="right" label-width="80px">

                            <el-form-item label="旧密码">
                                <el-input v-model="form.oldPassword" show-password></el-input>
                            </el-form-item>
                            <el-form-item label="新密码">
                                <el-input v-model="form.newPassword" show-password></el-input>
                            </el-form-item>
                            <el-form-item label="确认密码">
                                <el-input v-model="form.rePassword" show-password></el-input>
                            </el-form-item>
                            <div style="text-align: center">
                            <el-button type="success" @click="changePassword">提交修改</el-button>
                            <el-button type="primary">重置</el-button>
                            </div>
                        </el-form>
                    </el-col>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
<div th:insert="common::#common-script">

</div>
</body>

<script>


    new Vue({
        el: "#app",
        data: {
            form: {
                oldPassword: '',
                newPassword: '',
                rePassword: '',
            }
        },
        methods: {
            changePassword() {
                let oldPassword = this.form.oldPassword;
                let newPassword = this.form.newPassword;
                let rePassword = this.form.rePassword;
                if (newPassword === '' || oldPassword === '' || rePassword === '') {
                    this.$message({
                        message: "您还没填写完毕",
                        type: 'warning'
                    })
                } else {
                    if (newPassword !== rePassword) {
                        this.$message({
                            message: "新密码不一致",
                            type: 'warning'
                        })
                    } else {
                        axios.post('change/password', 'oldPassword=' + oldPassword + '&newPassword=' +newPassword)
                            .then(res => {
                                let result=res.data;
                                if (result.code===1) {
                                    this.$message({
                                        message: result.message,
                                        type: 'success'
                                    })
                                    this.form.oldPassword=''
                                    this.form.newPassword=''
                                    this.form.rePassword=''
                                }else {
                                    this.$message({
                                        message: result.message,
                                        type:'error'
                                    });
                                }
                            }).catch(err => {
                            let data = err.response.data;
                            this.$message({
                                message: data.msg,
                                type: 'error'
                            });
                        })
                    }
                }
            }
        }
    });
</script>

</html>
