<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link th:insert="common::common-hand">
    <title>

    </title>
</head>
<body>
<div id="app">
    <data id="rid" th:value="${rid}"></data>
    <el-container style="height: 100%; border: 1px solid #ffffff">
        <el-aside width="200px" style="background-color: rgb(84,92,100)">
            <div th:insert="common::#aside">

            </div>

        </el-aside>

        <el-container>
            <el-header th:insert="common::#header">

            </el-header>

            <el-main>
                <div style="margin:16px">
                    <h2>角色 {{rid}} 设置权限</h2>
                    <el-transfer v-model="value" :data="data"
                                 :props="{
                              key: 'id',
                              label: 'description'
                              }"
                                 :titles="['未有权限', '已有权限']"
                                 :button-texts="['到右边', '到右边']"
                    ></el-transfer>
                    <div style="text-align: center">
                        <el-button @click="changeRoleAuth" type="success">修改</el-button>
                    </div>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
<div th:insert="common::#common-script">

</div>
</body>

<script>
    new Vue({
        el: "#app",
        data: {
            data: [],
            value: [],
            rid: 1
        },
        created: function () {
            this.loadingData();
        },
        methods: {
            loadingData() {

                let value = document.getElementById("rid").value;

                axios.get("load/auth?rid=" + value)
                    .then(res => {
                        let data = res.data;
                        console.log(data.code)
                        this.data = data.data.allAuthority;
                        this.value = data.data.ids;
                    })
                this.rid = value
            },
            changeRoleAuth() {
                let value = this.value;
                let ids = '';
                for (let i = 0; i < value.length; i++) {
                    if (i === value.length - 1) {
                        ids = ids + value[i]
                    } else {
                        ids = ids + value[i] + ","
                    }
                }
                axios.post("change/role/auth", "aids=" + ids + "&rid=" + this.rid).then(res => {

                    let data = res.data;
                    if (data.code === 0) {
                        this.$message({
                            message: data.message,
                            type: 'error'
                        })
                    } else {
                        this.$message({
                            message: data.message,
                            type: 'success'
                        })

                    }
                }).catch(err => {
                    let data = err.response.data;
                    this.$message({
                        message: data.msg,
                        type: 'error'
                    });
                })


            }
        }
    });
</script>

</html>
