<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light">
<head>
    <title th:text="${loginUser.username}+'账号管理-云沾衣诗词网'">云沾衣诗词网</title>
    <th:block th:insert="~{common/header::head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
</head>
<body class="bg-body-secondary">
<div th:insert="~{common/header :: main_nav}"></div>
<div class="container full">
    <div class="row" style="padding: 10px">
        <div class="col-lg-3 col-sm-auto">

        </div>
        <div class="col-lg-6">
            <div th:insert="~{common/header :: user-head}"></div>
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#account">账号信息</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#changePassword">修改密码</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="account" class="container tab-pane active">
                            <div class="mb-3 mt-3 input-group">
                                <input type="text" th:value="${phone}" placeholder="未绑定手机号" class="form-control">
                                <button id="showPhoneModalBtn" class="btn btn-success">绑定手机</button>
                            </div>
                            <div class="mb-3 input-group">
                                <input type="text" th:value="${email}"  placeholder="未绑定邮箱"
                                       class="form-control">
                                <button id="showEmailModalBtn" class="btn btn-success">绑定邮箱</button>
                            </div>
                        </div>
                        <div id="changePassword" class="container tab-pane fade"><br>
                            <div class="mb-3 mt-3 input-group">
                                <input type="password" class="form-control" id="password"
                                       placeholder="密码">
                            </div>
                            <div>
                                <input type="password" class="form-control" id="rePassword"
                                       placeholder="确认密码">
                            </div>
                            <br>
                            <button id="cpButton" class="w-100 btn btn-success"
                                    type="button">
                                修改
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-auto">

        </div>
    </div>
</div>

<!-- 模态框 -->
<div class="modal fade" id="phoneModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h3 class="modal-title">绑定手机号</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- 模态框内容 -->
            <div class="modal-body">
                <input type="text" placeholder="请输入手机号" class="form-control" id="phone">
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="bindPhoneBtn">绑定
                </button>
            </div>

        </div>
    </div>
</div>


<!-- 模态框 -->
<div class="modal fade" id="emailModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h3 class="modal-title">绑定邮箱</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- 模态框内容 -->
            <div class="modal-body">
                <input type="text" placeholder="请输入邮箱" class="form-control" id="email">
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="bindEmailBtn">绑定
                </button>
            </div>

        </div>
    </div>
</div>

<div th:insert="~{common/footer::home-footer}"></div>
</body>
<th:block th:insert="~{common/footer::tail}"></th:block>
<script type="module" charset="utf-8" th:src="@{/js/account.js}"></script>
</html>
