<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light">
<head>
    <title th:text="${anthologyVo.anthologyName+'-云沾衣诗词网'}">诗集-云沾衣诗词网</title>
    <th:block th:insert="~{common/header::head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
</head>
<body class="bg-body-secondary">
<div th:insert="~{common/header :: main_nav}"></div>
<div class="container full">
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div class="text-center">
                <h3 th:text="${anthologyVo.anthologyName}"></h3>
                <h6 th:text="${anthologyVo.anthologyInfo}"></h6>
            </div>
            <th:block th:each="anthology : ${anthologyVo.subAnthologyList}">
                <div class="card" style="margin: 3px">
                    <div class="card-header">
                        <div class="stress" th:text="${anthology.anthologyName}"></div>
                    </div>
                    <div class="card-body row">
                        <div th:each="poetry: ${anthology.anthologyPoetryList}"
                             class="col-md-4 col-lg-4 col-sm-6 text-truncate">
                            《<a class="text-body" th:text="${poetry.poetryTitle}"
                                th:href="'/poetry/'+${poetry.poetryId}">过仙游寺</a>》
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <div class=" col-lg-3 col-sm-12">
            <div th:insert="~{common/common::ghcard}"></div>
        </div>
    </div>
</div>
<div th:insert="~{common/footer::home-footer}"></div>
</body>
<th:block th:insert="~{common/footer::tail}"></th:block>
