<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${authorName}+'的诗词-云沾衣诗词网'">云沾衣-入云深处亦沾衣</title>
    <th:block th:insert="~{common/header::head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
</head>
<body class="bg-body-secondary">
<div th:insert="~{common/header :: main_nav}"></div>
<div class="container full">
    <div class="row">
        <div class="col col-sm-12 col-lg-9">
            <div class="m-2">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">首页</a></li>
                    <li class="breadcrumb-item"><a href="/index/author">作者索引</a></li>
                    <li class="breadcrumb-item"><a th:href="@{'/author/'+${authorId}}" th:text="${authorName}">Italy</a>
                    </li>
                    <li class="breadcrumb-item active" th:text="${authorName}+'的作品'"></li>
                </ul>
            </div>
            <form th:action="@{'/author/poetry/'+${authorId}}" class="input-group" style="padding: 11px">
                <input type="text" class="form-control" name="searchVal" th:value="${searchVal}" th:placeholder="'搜索'+${authorName}+'的作品'">
                <button type="submit" class="btn btn-primary btn-sm">搜索</button>
            </form>
            <th:block th:each="poetry : ${dataInfo.getList()}">
                <div class="card">
                    <div class="card-body">
                        <a th:href="@{'/poetry/'+${poetry.poetryId}}">
                            <div style="font-size: x-large" th:text="${poetry.poetryTitle}"></div>
                        </a>
                        <div style="margin-top: 20px;margin-bottom: 20px ">
                            [<a style="color: #580000" target="_blank"
                                th:href="@{/index/poetry/(dynasty=${poetry.dynastyId})}"
                                th:text="${poetry.poetryDynasty}"></a>]
                            <a style="color: #580000" th:href="@{'/author/'+${poetry.authorId}}"
                               th:text="${poetry.poetryAuthor}"
                            ></a>
                        </div>
                        <div style="font-size: large; line-height: 1.5;">
                    <span th:text="${poetry.poetryContent}" style="white-space: pre-wrap;">
                    </span>
                        </div>

                        <div style="margin-top: 20px">
                            <th:block th:each="tag : ${poetry.tagList}">
                                <a th:href="@{/index/poetry(tag=${tag.tagId})}"
                                   th:text="${tag.tagName}" class="badge rounded-pill text-bg-primary">成功</a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </th:block>

            <!--分页-->

            <th:block th:if="${ dataInfo.getPages()> 1}">
                <ul class="pagination justify-content-center">
                    <th:block th:if="${dataInfo.getPages() < 5}" th:each="page:${dataInfo.getNavigatepageNums()}">
                        <li th:class="${page == dataInfo.getPageNum() ? 'page-item active':'page-item'}">
                            <a th:href="@{'/author/poetry/'+${authorId}(pageNum=${page})}"
                               class="page-link" th:text="${page}"></a>
                        </li>
                    </th:block>

                    <th:block th:if="${dataInfo.getPages()>= 5}">

                        <li th:class="${1== dataInfo.getPageNum() ? 'page-item disabled' : 'page-item'}">
                            <a th:href="@{'/author/poetry/'+${authorId}(pageNum=1)}"
                               class="page-link">首页</a>
                        </li>


                        <li th:class="${1== dataInfo.getPageNum() ? 'page-item disabled' : 'page-item'}">
                            <a th:href="@{'/author/poetry/'+${authorId}(pageNum=${dataInfo.getPageNum()-1})}"
                               class="page-link">上一页</a>
                        </li>

                        <li class="page-item  disabled">
                            <a class="page-link" th:text="${'第'+dataInfo.getPageNum()+'页'}"></a>
                        </li>

                        <li th:class="${dataInfo.getPages()== dataInfo.getPageNum() ? 'page-item disabled' : 'page-item'}">
                            <a th:href="@{'/author/poetry/'+${authorId}(pageNum=${dataInfo.getPageNum()+1})}"
                               class="page-link">下一页</a>
                        </li>
                        <!--最后页-->
                        <li th:class="${dataInfo.getPages()== dataInfo.getPageNum() ? 'page-item disabled' : 'page-item'}">
                            <a th:href="@{'/author/poetry/'+${authorId}(pageNum=${dataInfo.getPages()})}"
                               class="page-link">尾页</a>
                        </li>
                    </th:block>
                </ul>
            </th:block>
        </div>
        <div class="col-sm-auto col-lg-3">
            <div th:insert="~{common/common::ghcard}"></div>
        </div>
    </div>
</div>
<div th:insert="~{common/footer::home-footer}"></div>
</body>
<th:block th:insert="~{common/footer::tail}"></th:block>
</html>
