<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" data-bs-theme="light">
<head>
  <title th:text="${loginUser.username}+'收藏管理-云沾衣诗词网'">云沾衣诗词网</title>
  <th:block th:insert="~{common/header::head}"></th:block>
  <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
</head>
<body class="bg-body-secondary">
<div th:insert="~{common/header :: main_nav}"></div>
<div class="container full">
  <div class="row" style="padding: 10px">
    <div class="col-lg-3 col-sm-auto">

    </div>
    <div class="col-lg-6">
      <div th:insert="~{common/header :: user-head}"></div>
    </div>
    <div class="col-lg-3 col-sm-auto">

    </div>
  </div>
</div>
<div th:insert="~{common/footer::home-footer}"></div>
</body>
<th:block th:insert="~{common/footer::tail}"></th:block>
</html>
