<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head>
    <title th:text="${keyword+' 搜索-云沾衣诗词网'}">搜索_云沾衣诗词网</title>
    <th:block th:insert="~{common/header::head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
</head>

<body class="bg-body-secondary">
<div th:insert="~{common/header :: main_nav}"></div>
<div class="container full">
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div hidden id="app">
                <ul class="nav nav-tabs">
                    <li class="nav-item mx-3">
                        <a @click="switchType('poetry')"
                           :class="searchType=='poetry'?'nav-link active':'nav-link'">诗词</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a @click="switchType('author')"
                           :class="searchType=='author'?'nav-link active ':'nav-link'">诗人</a>
                    </li>
                </ul>
                <div v-if="searchType == 'poetry'">
                    <div v-for="poetry in dataList">
                        <div class="card" style="padding: 5px">
                            <div class="card-body">
                                <a :href="'/poetry/'+poetry.poetryId" target="_blank">
                                    <div style="font-size: x-large">{{poetry.poetryTitle}}</div>
                                </a>
                                <div style="margin-top: 20px;margin-bottom: 20px ">
                                    [<a style="color: #580000" target="_blank">{{poetry.poetryDynasty}}</a>]
                                    <a :href="'/author/'+poetry.authorId" style="color: #580000" target="_blank"
                                    >{{poetry.poetryAuthor}}</a>
                                </div>

                                <div style="font-size: large; line-height: 1.5;">
                    <span style="white-space: pre-wrap;">
                      {{poetry.poetryContent}}
                    </span>
                                </div>
                                <div style="margin-top: 20px">
                                    <a v-for="tag in poetry.tagList" target="_blank"
                                       :href="'/index/poetry?tag='+tag.tagId"
                                       class="badge rounded-pill text-bg-primary">{{tag.tagName}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="searchType == 'author'">
                    <div v-for="author in dataList">
                        <div class="card" style="padding: 5px">
                            <div class="card-body">
                                <div style="margin: 5px">
                                    <div>
                                        <a target="_blank" :href="'/author/'+author.id"
                                           style="font-size: 22px;">{{author.authorName}} </a>
                                    </div>
                                    <div>
                                        朝代 : <a style="color: #580000" target="_blank">{{author.authorDynasty}}</a>
                                    </div>
                                </div>
                                <span>{{author.info}}</span> <a target="_blank"
                                                                :href="'/author/poetry/'+author.id">共收录<span>{{author.recordCount}}</span>
                                首作品></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="loading" class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div style="margin: 10px" v-if="!loading && !isNoMore" class="text-center" @click="loadMore">
                    <span style="color: #b40000">加载更多</span></div>
                <div style="margin: 10px" v-if="!loading && isNoMore" class="text-center">——没有更多数据了——</div>
            </div>
        </div>
        <div class=" col-lg-3 col-sm-12">
            <div th:insert="~{common/common::ghcard}"></div>
        </div>
    </div>
</div>
<div th:insert="~{common/footer::home-footer}"></div>
</body>

<th:block th:insert="~{common/footer::tail}"></th:block>

<script type="module" charset="utf-8" th:src="@{/js/search.js}"></script>

</html>
