<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.yunzhanyi.domain.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="net.yunzhanyi.domain.pojo.Tag">
            <id property="tagId" column="tag_id" jdbcType="INTEGER"/>
            <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        tag_id,tag_name
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tag
        where  tag_id = #{tagId,jdbcType=INTEGER}
    </select>

    <select id="selectInit" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tag
        limit 20;
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tag
        where tag_name=#{name}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tag
        where  tag_id = #{tagId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="tag_id" keyProperty="tagId" parameterType="net.yunzhanyi.domain.pojo.Tag" useGeneratedKeys="true">
        insert into tag
        ( tag_id,tag_name)
        values (#{tagId,jdbcType=INTEGER},#{tagName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="tag_id" keyProperty="tagId" parameterType="net.yunzhanyi.domain.pojo.Tag" useGeneratedKeys="true">
        insert into tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="tagId != null">tag_id,</if>
                <if test="tagName != null">tag_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="tagId != null">#{tagId,jdbcType=INTEGER},</if>
                <if test="tagName != null">#{tagName,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="net.yunzhanyi.domain.pojo.Tag">
        update tag
        <set>
                <if test="tagName != null">
                    tag_name = #{tagName,jdbcType=VARCHAR},
                </if>
        </set>
        where   tag_id = #{tagId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="net.yunzhanyi.domain.pojo.Tag">
        update tag
        set
            tag_name =  #{tagName,jdbcType=VARCHAR}
        where   tag_id = #{tagId,jdbcType=INTEGER}
    </update>
</mapper>
